In [13]:
import sqlite3
import pandas as pd

# 1️ Connect to a temporary in-memory database
conn = sqlite3.connect(":memory:")

# 2️ Read your SQL script
with open("output.sql", "r", encoding="utf-8") as f:
    sql_script = f.read()

# 3️ Execute all the SQL commands in the file
conn.executescript(sql_script)

# 4️ Confirm the tables created
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print(tables)

                     name
0                Downtime
1          machines_clean
2  maintenance_logs_clean
3   production_data_clean

In [14]:

from IPython.display import display
print("Downtime \n")
display(df_Downtime.head())
print("\n  machines_clean \n")
display(df_machines_clean.head())
print("\n maintenance_logs_clean \n")
display(df_maintenance_logs_clean.head())
print("\n  production_data_clean \n")
display(df_production_data_clean.head())

Downtime

,event_id,machine_id,downtime_events_department,start_time,end_time,duration_minutes,downtime_type,reason_code,severity,operator_id,...,shift,action_taken,parts_replaced,category,subcategory,description,expected_duration,priority,reasons_department,resolution_action
0,EVENT_118356,MACH_073584,Heat_Treatment,7/14/2023 23:17,7/15/2023 17:42,1105,Unplanned,REASON_00529,Medium,OP_0162,...,PM,Programming,Valve,Raw_Material,Low_Quality,Low_Quality in Raw_Material system,295,2,General,Part_Replacement
1,EVENT_118855,MACH_073584,Heat_Treatment,3/24/2024 5:38,3/24/2024 17:58,740,Unplanned,REASON_01301,Medium,OP_0160,...,PM,Programming,Valve,Electrical,Cable_Issue,Cable_Issue in Electrical system,567,3,Hot_Rolling,Part_Replacement
2,EVENT_115520,MACH_073584,Melting_Furnace_2,7/1/2023 23:15,7/2/2023 12:05,770,Unplanned,REASON_43049,Medium,OP_0027,...,PM,Programming,Valve,Mechanical,Part_Wear,Part_Wear in Mechanical system,304,3,Melting_Furnace_1,Part_Replacement
3,EVENT_115683,MACH_073584,Packaging,2/3/2023 0:41,2/3/2023 5:41,300,Unplanned,REASON_26313,Medium,OP_0135,...,PM,Programming,Valve,Hydraulic,Pump_Failure,Pump_Failure in Hydraulic system,52,5,General,Cleaning
4,EVENT_115120,MACH_073584,Cold_Rolling,8/30/2021 6:42,8/30/2021 22:17,935,Unplanned,REASON_01980,Medium,OP_0325,...,PM,Programming,Valve,Raw_Material,Shipment_Delay,Shipment_Delay in Raw_Material system,467,5,General,Setting_Adjustment

  machines_clean

,machine_id,machine_name,department,installation_date,last_maintenance,status,capacity_ton_hour,criticality_level,manufacturer,location,purchase_cost
0,MACH_056759,Melting_Furnace_1_0015,Melting_Furnace_1,12/14/2020,3/28/2024,Maintenance,194.46,2,MITSUBISHI,Zone_5,4287512.07
1,MACH_077740,Melting_Furnace_1_0054,Melting_Furnace_1,3/13/2019,10/16/2020,Maintenance,187.12,1,MITSUBISHI,Zone_9,2590474.48
2,MACH_015192,Melting_Furnace_1_0068,Melting_Furnace_1,3/18/2022,10/26/2023,Maintenance,191.47,1,SIEMENS,Zone_12,4237572.35
3,MACH_013370,Melting_Furnace_1_0040,Melting_Furnace_1,5/10/2020,5/2/2021,Operational,187.87,1,SIEMENS,Zone_7,4882266.6
4,MACH_039801,Melting_Furnace_1_0198,Melting_Furnace_1,2/20/2022,11/12/2024,Maintenance,123.31,3,SMS_Group,Zone_5,2291719.91

 maintenance_logs_clean

,maintenance_id,machine_id,maintenance_type,technician_id,start_time,end_time,duration_minutes,parts_cost,labor_cost,total_cost,maintenance_code,description,parts_used,technician_notes
0,MAINT_000027,MACH_065551,Corrective,TECH_0045,3/26/2024 21:48,3/28/2024 4:48,1860,6261,1020.83,nan,MC_7030,Corrective maintenance on Packaging_10801,Seal,Needs follow-up
1,MAINT_000080,MACH_065551,Corrective,TECH_0059,10/9/2020 19:57,10/16/2020 6:57,9300,3704,933.33,nan,MC_5542,Corrective maintenance on Hot_Rolling_31556,Seal,Needs follow-up
2,MAINT_000013,MACH_065551,Corrective,TECH_0196,10/25/2023 3:55,10/26/2023 4:00,1445,7129,1220.83,nan,MC_2552,Emergency maintenance on Hot_Rolling_3500,Bearing,Fully resolved
3,MAINT_000017,MACH_065551,Corrective,TECH_0177,5/2/2021 4:42,5/2/2021 6:32,110,9178,625.0,nan,MC_1116,Upgrade maintenance on Melting_Furnace_2_85333,Bearing,Fully resolved
4,MAINT_000129,MACH_065551,Corrective,TECH_0018,11/10/2024 17:48,nan,2000,2737,512.5,nan,MC_3351,Preventive maintenance on Melting_Furnace_3_48329,Valve,Needs follow-up

  production_data_clean

,production_id,machine_id,shift,date,actual_output_ton,target_output_ton,quality_rate,energy_consumption_kwh,operator_id,production_efficiency,defects_ton,operating_hours
0,PROD_000001,MACH_065551,AM,1/1/2020,1331.68,1252,0.905,131542.66,OP_0371,0.94,122.094,9.99
1,PROD_000002,MACH_095759,PM,1/1/2020,1061.0,1117,0.862,61440.61,OP_0191,0.77,26.98,8.97
2,PROD_000003,MACH_097279,AM,1/1/2020,1000.16,940,0.907,227881.68,OP_0464,0.899,109.2505,8.62
3,PROD_000004,MACH_021652,AM,1/1/2020,1227.52,1154,0.932,116488.1,OP_0237,0.767,17.153,9.14
4,PROD_000005,MACH_072769,AM,1/1/2020,1172.64,1103,0.937,146247.92,OP_0455,0.973,101.286,9.73

In [16]:
df = df_Downtime.copy()
df_down_reasons = df_Downtime[[
    "reason_code",
    "category",
    "subcategory",
    "description",
    "expected_duration",
    "priority",
    "reasons_department",
    "resolution_action"
]].drop_duplicates().reset_index(drop=True)


df_down_events = df_Downtime.drop(columns=[
    "category",
    "subcategory",
    "description",
    "expected_duration",
    "priority",
    "reasons_department",
    "resolution_action"
])
print("\n down_events \n")
display(df_down_events.head())
print("\n down_reasons \n")
display(df_down_reasons.head())

 down_events

,event_id,machine_id,downtime_events_department,start_time,end_time,duration_minutes,downtime_type,reason_code,severity,operator_id,cost_estimate,shift,action_taken,parts_replaced
0,EVENT_118356,MACH_073584,Heat_Treatment,7/14/2023 23:17,7/15/2023 17:42,1105,Unplanned,REASON_00529,Medium,OP_0162,4052,PM,Programming,Valve
1,EVENT_118855,MACH_073584,Heat_Treatment,3/24/2024 5:38,3/24/2024 17:58,740,Unplanned,REASON_01301,Medium,OP_0160,7444,PM,Programming,Valve
2,EVENT_115520,MACH_073584,Melting_Furnace_2,7/1/2023 23:15,7/2/2023 12:05,770,Unplanned,REASON_43049,Medium,OP_0027,1158,PM,Programming,Valve
3,EVENT_115683,MACH_073584,Packaging,2/3/2023 0:41,2/3/2023 5:41,300,Unplanned,REASON_26313,Medium,OP_0135,11919,PM,Programming,Valve
4,EVENT_115120,MACH_073584,Cold_Rolling,8/30/2021 6:42,8/30/2021 22:17,935,Unplanned,REASON_01980,Medium,OP_0325,9505,PM,Programming,Valve

 down_reasons

,reason_code,category,subcategory,description,expected_duration,priority,reasons_department,resolution_action
0,REASON_00529,Raw_Material,Low_Quality,Low_Quality in Raw_Material system,295,2,General,Part_Replacement
1,REASON_01301,Electrical,Cable_Issue,Cable_Issue in Electrical system,567,3,Hot_Rolling,Part_Replacement
2,REASON_43049,Mechanical,Part_Wear,Part_Wear in Mechanical system,304,3,Melting_Furnace_1,Part_Replacement
3,REASON_26313,Hydraulic,Pump_Failure,Pump_Failure in Hydraulic system,52,5,General,Cleaning
4,REASON_01980,Raw_Material,Shipment_Delay,Shipment_Delay in Raw_Material system,467,5,General,Setting_Adjustment

In [17]:
df_down_events["start_time"] = pd.to_datetime(df_down_events["start_time"])
df_down_events["end_time"] = pd.to_datetime(df_down_events["end_time"])

In [18]:
df_down_events.info()
df_down_events.head()
df_down_events.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   event_id                    120000 non-null  object
 1   machine_id                  120000 non-null  object
 2   downtime_events_department  120000 non-null  object
 3   start_time                  120000 non-null  datetime64[ns]
 4   end_time                    120000 non-null  datetime64[ns]
 5   duration_minutes            120000 non-null  object
 6   downtime_type               120000 non-null  object
 7   reason_code                 120000 non-null  object
 8   severity                    120000 non-null  object
 9   operator_id                 120000 non-null  object
 10  cost_estimate               120000 non-null  object
 11  shift                       120000 non-null  object
 12  action_taken                120000 non-null  object
 13  parts_replaced              120000 non-null  object
dtypes: datetime64[ns](2), object(12)
memory usage: 12.8+ MB

,event_id,machine_id,downtime_events_department,start_time,end_time,duration_minutes,downtime_type,reason_code,severity,operator_id,cost_estimate,shift,action_taken,parts_replaced
count,120000,120000,120000,120000,120000,120000,120000,120000,120000,120000,120000,120000,120000,120000
unique,120000,59966,9,NaN,NaN,771,3,45526,3,500,14998,2,5,6
top,EVENT_118356,MACH_073584,Cold_Rolling,NaN,NaN,1400,Unplanned,REASON_31944,Medium,OP_0287,1024,AM,Adjustment,Valve
freq,1,6629,13655,NaN,NaN,1546,60289,11,102790,286,23,62119,24120,29088
mean,NaN,NaN,NaN,2022-07-02 03:20:18.025500160,2022-07-03 15:24:12.395500032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2020-01-01 00:09:00,2020-01-01 04:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2021-04-02 07:37:00,2021-04-03 19:24:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,2022-07-01 21:56:00,2022-07-03 09:11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2023-09-30 14:42:30,2023-10-02 05:33:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2024-12-31 23:54:00,2025-01-09 09:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_down_reasons.info()
df_down_reasons.head()
df_down_reasons.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45526 entries, 0 to 45525
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   reason_code         45526 non-null  object
 1   category            45526 non-null  object
 2   subcategory         45526 non-null  object
 3   description         45526 non-null  object
 4   expected_duration   45526 non-null  object
 5   priority            45526 non-null  object
 6   reasons_department  45526 non-null  object
 7   resolution_action   45526 non-null  object
dtypes: object(8)
memory usage: 2.8+ MB

,reason_code,category,subcategory,description,expected_duration,priority,reasons_department,resolution_action
count,45526,45526,45526,45526,45526,45526,45526,45526
unique,45526,6,30,30,586,5,5,5
top,REASON_00529,Hydraulic,Part_Replacement,Part_Replacement in Maintenance system,177,5,Hot_Rolling,Cleaning
freq,1,7672,1592,1592,111,9247,9182,9202

In [21]:
df_machines_clean["installation_date"] = pd.to_datetime(df_machines_clean["installation_date"])
df_machines_clean["last_maintenance"] = pd.to_datetime(df_machines_clean["last_maintenance"])

In [22]:
df_machines_clean.info()
df_machines_clean.head()
df_machines_clean.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86483 entries, 0 to 86482
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   machine_id         86483 non-null  object
 1   machine_name       86483 non-null  object
 2   department         86483 non-null  object
 3   installation_date  86483 non-null  datetime64[ns]
 4   last_maintenance   86483 non-null  datetime64[ns]
 5   status             86483 non-null  object
 6   capacity_ton_hour  86483 non-null  object
 7   criticality_level  86483 non-null  object
 8   manufacturer       86483 non-null  object
 9   location           86483 non-null  object
 10  purchase_cost      86483 non-null  object
dtypes: datetime64[ns](2), object(9)
memory usage: 7.3+ MB

,machine_id,machine_name,department,installation_date,last_maintenance,status,capacity_ton_hour,criticality_level,manufacturer,location,purchase_cost
count,86483,86483,86483,86483,86483,86483,86483,86483,86483,86483,86483
unique,86483,75753,7,NaN,NaN,4,16757,4,6,12,70592
top,MACH_056759,Melting_Furnace_1_0220,Cold_Rolling,NaN,NaN,Maintenance,62.67,2,Tenova,Zone_12,2281638.12
freq,1,7,14569,NaN,NaN,41407,23,32171,19741,7448,3
mean,NaN,NaN,NaN,2021-01-02 07:07:07.381103872,2022-07-03 21:57:45.046309632,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2018-01-01 00:00:00,2020-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2019-07-06 00:00:00,2021-04-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,2021-01-05 00:00:00,2022-07-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2022-07-03 00:00:00,2023-10-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2023-12-31 00:00:00,2025-01-08 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_maintenance_logs_clean["start_time"] = pd.to_datetime(
    df_maintenance_logs_clean["start_time"], errors='coerce'
)

df_maintenance_logs_clean["end_time"] = pd.to_datetime(
    df_maintenance_logs_clean["end_time"], errors='coerce'
)

In [25]:
df_maintenance_logs_clean.info()
df_maintenance_logs_clean.head()
df_maintenance_logs_clean.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120022 entries, 0 to 120021
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   maintenance_id    120022 non-null  object
 1   machine_id        120022 non-null  object
 2   maintenance_type  120022 non-null  object
 3   technician_id     120022 non-null  object
 4   start_time        120022 non-null  datetime64[ns]
 5   end_time          120020 non-null  datetime64[ns]
 6   duration_minutes  120022 non-null  object
 7   parts_cost        120022 non-null  object
 8   labor_cost        120022 non-null  object
 9   total_cost        120022 non-null  object
 10  maintenance_code  120022 non-null  object
 11  description       120022 non-null  object
 12  parts_used        120022 non-null  object
 13  technician_notes  120022 non-null  object
dtypes: datetime64[ns](2), object(12)
memory usage: 12.8+ MB

,maintenance_id,machine_id,maintenance_type,technician_id,start_time,end_time,duration_minutes,parts_cost,labor_cost,total_cost,maintenance_code,description,parts_used,technician_notes
count,120022,120022,120022,120022,120022,120020,120022,120022,120022,120022,120022,120022,120022,120022
unique,119986,59966,5,200,NaN,NaN,771,12499,451,62257,9000,106646,6,4
top,MAINT_000027,MACH_073584,Corrective,TECH_0179,NaN,NaN,1400,9700,400.0,nan,MC_5592,Corrective maintenance on Melting_Furnace_2_81214,Valve,Needs follow-up
freq,2,6629,38572,656,NaN,NaN,1546,23,318,39,30,5,29763,39960
mean,NaN,NaN,NaN,NaN,2022-07-02 03:02:45.346686208,2022-07-03 15:04:00.228962304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,2020-01-01 00:09:00,2020-01-01 04:45:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,2021-04-02 07:25:00,2021-04-03 19:24:15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,2022-07-01 20:08:30,2022-07-03 07:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2023-09-30 15:41:45,2023-10-02 05:52:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,2024-12-31 23:54:00,2025-01-09 09:27:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df_production_data_clean["date"] = pd.to_datetime(df_production_data_clean["date"], errors='coerce')

In [ ]:
df_production_data_clean.info()
df_production_data_clean.head()
df_production_data_clean.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202608 entries, 0 to 202607
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   production_id           202608 non-null  object
 1   machine_id              202608 non-null  object
 2   shift                   202608 non-null  object
 3   date                    202608 non-null  datetime64[ns]
 4   actual_output_ton       202608 non-null  object
 5   target_output_ton       202608 non-null  object
 6   quality_rate            202608 non-null  object
 7   energy_consumption_kwh  202608 non-null  object
 8   operator_id             202608 non-null  object
 9   production_efficiency   202608 non-null  object
 10  defects_ton             202608 non-null  object
 11  operating_hours         202608 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 18.5+ MB

,production_id,machine_id,shift,date,actual_output_ton,target_output_ton,quality_rate,energy_consumption_kwh,operator_id,production_efficiency,defects_ton,operating_hours
count,202608,202608,202608,202608,202608,202608,202608,202608,202608,202608,202608,202608
unique,200000,86483,2,NaN,2254,844,141,198691,500,281,31908,401
top,PROD_200000,MACH_094092,AM,NaN,1008.0,1197,0.852,88385.68,OP_0362,0.738,24.65,8.99
freq,2,11,121247,NaN,426,574,1532,4,471,808,48,569
mean,NaN,NaN,NaN,2022-06-30 19:54:47.420042752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2020-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2021-03-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,2022-06-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2023-09-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2024-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_down_events.isna().sum()

event_id                      0
machine_id                    0
downtime_events_department    0
start_time                    0
end_time                      0
duration_minutes              0
downtime_type                 0
reason_code                   0
severity                      0
operator_id                   0
cost_estimate                 0
shift                         0
action_taken                  0
parts_replaced                0
dtype: int64

In [29]:
df_down_reasons.isna().sum()

reason_code           0
category              0
subcategory           0
description           0
expected_duration     0
priority              0
reasons_department    0
resolution_action     0
dtype: int64

In [30]:
df_machines_clean.isna().sum()

machine_id           0
machine_name         0
department           0
installation_date    0
last_maintenance     0
status               0
capacity_ton_hour    0
criticality_level    0
manufacturer         0
location             0
purchase_cost        0
dtype: int64

In [31]:
df_maintenance_logs_clean.isna().sum()

maintenance_id      0
machine_id          0
maintenance_type    0
technician_id       0
start_time          0
end_time            2
duration_minutes    0
parts_cost          0
labor_cost          0
total_cost          0
maintenance_code    0
description         0
parts_used          0
technician_notes    0
dtype: int64

In [37]:
df_maintenance_logs_clean["duration_minutes"] = pd.to_numeric(
    df_maintenance_logs_clean["duration_minutes"],
    errors="coerce"
)

mask = df_maintenance_logs_clean["end_time"].isna()

df_maintenance_logs_clean.loc[mask, "end_time"] = (
    df_maintenance_logs_clean.loc[mask, "start_time"]
    + pd.to_timedelta(df_maintenance_logs_clean.loc[mask, "duration_minutes"], unit='m')
)

In [39]:
df_maintenance_logs_clean.isna().sum()

maintenance_id      0
machine_id          0
maintenance_type    0
technician_id       0
start_time          0
end_time            0
duration_minutes    0
parts_cost          0
labor_cost          0
total_cost          0
maintenance_code    0
description         0
parts_used          0
technician_notes    0
dtype: int64

In [40]:
df_production_data_clean.isna().sum()

production_id             0
machine_id                0
shift                     0
date                      0
actual_output_ton         0
target_output_ton         0
quality_rate              0
energy_consumption_kwh    0
operator_id               0
production_efficiency     0
defects_ton               0
operating_hours           0
dtype: int64

In [43]:
tables = {
    "machines": df_machines_clean,
    "down_events": df_down_events,
    "down_reasons": df_down_reasons,
    "maintenance_logs": df_maintenance_logs_clean,
    "production_data": df_production_data_clean
}

for name, df in tables.items():
    duplicates_count = df.duplicated().sum()
    print(f"Table {name} has {duplicates_count} duplicate rows")

Table machines has 0 duplicate rows
Table down_events has 0 duplicate rows
Table down_reasons has 0 duplicate rows
Table maintenance_logs has 0 duplicate rows
Table production_data has 0 duplicate rows

In [44]:
for name, df in tables.items():
    print(f"Table {name} has {df.shape[0]} rows")

Table machines has 86483 rows
Table down_events has 120000 rows
Table down_reasons has 45526 rows
Table maintenance_logs has 120022 rows
Table production_data has 202608 rows

In [46]:

import os

output_folder = r"D:\me\depi\project"


# بعدها تحفظي الملفات
df_machines_clean.to_csv(os.path.join(output_folder, "machines_clean.csv"), index=False)
df_production_data_clean.to_csv(os.path.join(output_folder, "production_data_clean.csv"), index=False)
df_down_events.to_csv(os.path.join(output_folder, "downtime_events_clean.csv"), index=False)
df_down_reasons.to_csv(os.path.join(output_folder, "downtime_reasons_clean.csv"), index=False)
df_maintenance_logs_clean.to_csv(os.path.join(output_folder, "maintenance_logs_clean.csv"), index=False)